@model KainosApp1.Models.CoinsTrends
<h1>
    <img src="~/Content/kainos/kainoslarge-2000x400.jpg" width="1140" height="200" />
</h1>
<div class="jumbotron">
    <h1>Krzysztof Kania</h1>
    <p class="lead">Cryptocurrency Web App using bitcoininavarage API, made for Kainos Challange</p>
    <p> Chart will be generated after choosing Cryptocurrency and Time</p>
    <p>
        <a href="https://apiv2.bitcoinaverage.com/#historical-data-2"
           class="btn btn-primary btn-lg">API &raquo;</a>
    </p>
</div>
<h2 class="text-center"> ALL CRYPTOCURRENCY & CHART TIME SELECTION</h2>
<div class="jumbotron">

    <div class="row, text-center">
        <div class="col-lg-3, text-center">
            <p>
                <input type="button"
                       id="Btn_AllCoins_daily"
                       value="ALL COINS DAILY"
                       onclick="@("window.location.href='" + @Url.Action("IndexAlldaily", "Home") + "'");" />
            </p>
        </div>
        <div class="col-lg-3,text-center">
            <p>
                <input type="button"
                       id="Btn_AllCoins_monthly"
                       value="ALL COINS MONTLY"
                       onclick="@("window.location.href='" + @Url.Action("IndexALLmonthly", "Home") + "'");" />
            </p>
        </div>
        <div class="col-lg-3, text-center">
            <p>
                <input type="button"
                       id="Btn_AllCoins_allTime"
                       value="ALL COINS ALL TIME"
                       onclick="@("window.location.href='" + @Url.Action("IndexALLallTime", "Home") + "'");" />
            </p>
        </div>
    </div>
</div>
<h2 class="text-center"> BITCOIN CRYPTOCURRENCY & CHART TIME SELECTION</h2>
<div class="jumbotron">

    <div class="row, text-center">
        <div class="col-lg-3, text-center">
            <p>
                <input type="button"
                       id="Btn_BTC_daily"
                       href=""
                       value="BITCOIN DAILY"
                       onclick="@("window.location.href='" + @Url.Action("IndexBTCdaily", "Home") + "'");" />
            </p>
        </div>
        <div class="col-lg-3,text-center">
            <p>
                <input type="button"
                       id="Btn_BTC_monthly"
                       value="BTC MONTLY"
                       onclick="@("window.location.href='" + @Url.Action("IndexBTCmonthly", "Home") + "'");" />
            </p>
        </div>
        <div class="col-lg-3, text-center">
            <p>
                <input type="button"
                       id="Btn_BTC_allTime"
                       value="BITCOIN ALL TIME"
                       onclick="@("window.location.href='" + @Url.Action("IndexBTCallTime", "Home") + "'");" />
            </p>
        </div>
    </div>
</div>

<h2 class="text-center"> ETHERUM CRYPTOCURRENCY & CHART TIME SELECTION</h2>
<div class="jumbotron">

    <div class="row, text-center">
        <div class="col-lg-3, text-center">
            <p>
                <input type="button"
                       id="Btn_ETH_daily"
                       value="ETHERUM DAILY"
                       onclick="@("window.location.href='" + @Url.Action("IndexETHdaily", "Home") + "'");" />
            </p>
        </div>
        <div class="col-lg-3,text-center">
            <p>
                <input type="button"
                       id="Btn_ETH_monthly"
                       value="ETHERUM MONTLY"
                       onclick="@("window.location.href='" + @Url.Action("IndexETHmonthly", "Home") + "'");" />
            </p>
        </div>
        <div class="col-lg-3, text-center">
            <p>
                <input type="button"
                       id="Btn_ETH_allTime"
                       value="ETHERUM ALL TIME"
                       onclick="@("window.location.href='" + @Url.Action("IndexETHallTime", "Home") + "'");" />
            </p>
        </div>
    </div>
</div>
<h2 class="text-center"> LITECOIN CRYPTOCURRENCY & CHART TIME SELECTION</h2>
<div class="jumbotron">

    <div class="row, text-center">
        <div class="col-lg-3, text-center">
            <p>
                <input type="button"
                       id="Btn_LTC_daily"
                       value="LITECOIN DAILY"
                       onclick="@("window.location.href='" + @Url.Action("IndexLTCdaily", "Home") + "'");" />
            </p>
        </div>
        <div class="col-lg-3,text-center">
            <p>
                <input type="button"
                       id="Btn_LTC_monthly"
                       value="LITECOIN MONTLY"
                       onclick="@("window.location.href='" + @Url.Action("IndexLTCmonthly", "Home") + "'");" />
            </p>
        </div>
        <div class="col-lg-3, text-center">
            <p>
                <input type="button"
                       id="Btn_LTC_allTime"
                       value="LITECOIN ALL TIME"
                       onclick="@("window.location.href='" + @Url.Action("IndexLTCallTime", "Home") + "'");" />
            </p>
        </div>
    </div>
</div>

<h2 class="text-center"> DAILY TRENDS</h2>
@*<div class="jumbotron">*@

    <h3>BTC DAILY TREND</h3>
    @if (Model.BTC)
    {

    <h3>
        <img src="~/Content/kainos/arrowdownred.svg" width="100" height="100" />
    </h3>
    }
    else
    {
        <h3>
            <img src="~/Content/kainos/arrowupgreen.svg" width="100" height="100" />
        </h3>
    }
    <h3>ETH DAILY TREND</h3>
    @if (Model.ETH)
    {

        <h3>
            <img src="~/Content/kainos/arrowdownred.svg" width="100" height="100" />
        </h3>
    }
    else
    {
        <h3>
            img src="~/Content/kainos/arrowupgreen.svg" width="100" height="100" />
        </h3>
    }
    <h3>LTC DAILY TREND</h3>
    @if (Model.LTC)
    {

        <h3>
            <img src="~/Content/kainos/arrowdownred.svg" width="100" height="100" />
        </h3>
    }
    else
    {
        <h3>
           <img src="~/Content/kainos/arrowupgreen.svg" width="100" height="100" />
        </h3>
    }




@*</div>*@

